//import lesshat

//settings
@sidebarWidth: 135px;
@sidebarMargin: 12px;
@sidebarLineBottom: 18px;
@sidebarButton: 30px;

//colors - main
@sidebarBG: #222c2b;
@sidebarLine: #37403f;
@sidebarBase: #fffeff;
@sidebarInactive: #9f9f9f;
@sidebarHover: #d8d8d8;

//fonts
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

@font-face {
    font-family: 'brandon bold';
    src: url('/fonts/brandon_bld-webfont.eot');
    src: url('/fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandon_bld-webfont.woff') format('woff'),
         url('/fonts/brandon_bld-webfont.ttf') format('truetype'),
         url('/fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon thin';
    src: url('/fonts/brandon_thin-webfont.eot');
    src: url('/fonts/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandon_thin-webfont.woff') format('woff'),
         url('/fonts/brandon_thin-webfont.ttf') format('truetype'),
         url('/fonts/brandon_thin-webfont.svg#brandon_grotesquethin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import "reset.lessimport";
// @import "lesshat.lessimport";

@import "prefixer.lessimport";
@import "webgl.lessimport";
@import "intro.lessimport";
@import "sidebar.lessimport";
@import "popup.lessimport";

body{
    background-image: url('/intro/bg.jpg');
    background-size: cover;
}

