
//settings
@sidebarWidth: 110px;
@sidebarMargin: 12px;
@sidebarLineBottom: 18px;
@sidebarButton: 30px;

//colors - main
@sidebarBG: #091928;
@sidebarLine: #545e68;
@sidebarBase: #fcffff;
@buttonOff: #202d36;
@buttonOn: #2e353b;

@import "reset.lessimport";
@import "prefixer.lessimport";
@import "webgl.lessimport";
@import "sidebar.lessimport";